<div class="center">
	<% if current_borrower %>
		<h1>Welcome <%= current_borrower.first_name %>!</h1>	
		<h1>You stupid fucking bitch</h1>
	




	<% elsif current_lender %>
		<h1>Welcome <%= current_lender.first_name %>!</h1>





	<% end %>
</div>
