<button type="button" class="btn btn-signin" data-toggle="modal" data-target="#myModalBorrower">
  Borrower login
</button>
<!-- Modal -->
<div class="modal fade" id="myModalBorrower" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div id="custom-modal" class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Borrower login</h5>
      </div>
      <div class="modal-body">
        <%= render 'devise/sessions/borrower' %>
      </div>
    </div>
  </div>
</div>
