<div class="container" style="padding-top: 150px;">
	<div>
		<%= image_tag "https://i.imgur.com/ugtto6z.png", class:"home-image" %>
	</div>

</div>
<div class="home-card">
	<div class="home-card-text">
		Salvia raclette chillwave blue bottle skateboard. Kitsch polaroid asymmetrical truffaut shaman williamsburg master cleanse man braid health goth bitters poutine hashtag. Mumblecore slow-carb messenger bag sriracha. Pinterest selvage mlkshk trust fund disrupt, taxidermy portland succulents hammock venmo. Hoodie swag pabst put a bird on it raclette. Flannel banh mi mustache scenester kitsch gentrify taiyaki ennui fingerstache shoreditch ramps pickled banjo sustainable. Sustainable tilde hella migas neutra kogi.
	</div>
</div>