// mobile navigation styling
.nav-mobile {
	background: lightblue;
	height: 10.3vh;
}

.mini-money-market {
	font-size: 3rem;
	line-height: 1.9rem;
	width: 100vw;
}

.mmm{
	font-family: monospace;
	float: left;
	margin-left: 2rem;
	margin-top: 3rem;
	width: 20vw;

}

.menu {
	font-size: 6rem;
	float: right;
	margin-top: 2.9rem;
	margin-right: 2.5rem;
}


