// mobile navigation styling
.nav-mobile {
	background-color: rgb(86, 140, 205);
	height: 11.3vh;
}

.mini-money-market {
	font-size: 3rem;
	line-height: 1.9rem;
	width: 100vw;
}

.mmm{
	font-family: monospace;
	float: left;
	margin-left: 2rem;
	margin-top: 3rem;
	width: 20vw;

}

.menu {
	font-size: 6rem;
	float: right;
	margin-top: 2.9rem;
	margin-right: 2.5rem;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	background-color: rgb(0,0,0);
	overflow-x: hidden;
	transition: 	0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	margin-top: 30px;
	color: white;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	transition: 0.3s;
  font-size: 6.4rem;
 	margin-left: 25rem;
 	line-height: 10rem;
}

.overlay a:hover, .overlay a:focus, .overlay a:active, .overlay a:visited {
	color: #f1f1f1;
	text-decoration: none;
}

.overlay .closebtn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12rem;
  margin-top: 4rem;
  margin-right: 2rem;
  text-decoration: none;	
}

#form-styling {
	height: 6vw;
  font-size: 2rem;
}

input[type=checkbox] {
  transform: scale(3);
  margin-right: 2rem;
}
// button styling

button {
	font-size: 3.5rem !important;
	width: 60vw;
	border-radius: 2rem;
	color: white;
}

button span {
	float: right;
	margin-right: -7rem;
	margin-top: 2rem;
}

input {
	border: 1px solid black;
	text-indent: 5px;
}

i {
	font-size: 6rem;
}

form {
	width: 70%;
  margin: auto;
}

// specific button styling 
.btn-signup {
	background-color: rgb(86, 140, 205);
	width: 100% !important;
	color: white;
}

.btn-signin {
	background-color: rgb(96, 209, 97);
	width: 100% !important;
	color: white;
}

.center {
	text-align: center;
}

.dont-have-an-account {
	font-size: 2rem;
}

.remember-me {
	font-size: 2rem;
}

.home-image {
  position: relative;
  width: 95vw;
  display: flex;
  margin-left: -9rem;
}

.home-card {
  background: rgb(86, 140, 205);
  width: 100%;
  height: 90%;
  border-radius: 3.2rem;
  box-shadow: 1px 6px 25px 5px black;
  margin-top: 3rem;
  text-align: center !important;
  .home-card-text {
  	margin: auto;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 35px;
  }
}

.navbar-links {
	margin-left: 27%;
  width: 50%;
  margin-bottom: 1rem;
  font-size: 2rem;
} 

// select #state-dropdown {
//   background: white;
//   width: 100% !important;
//   height: 3vh !important;
// }

// DESKTOP
// -----------------------------------------------------------------
#nav-desktop {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 150px;
  width: 100%;
  background:  rgb(86, 140, 205);
  color: #fff;
  line-height: 150px;
  -webkit-transition: height .5s, line-height .5s; /* Safari */
  transition: height .5s, line-height .5s;
}

.site-title {
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 12vw;
  font-family: monospace;
	float: left;
	margin-top: 1rem;
}

.site-title-container{
  width: 100vw;
}
.scrolled-nav .site-title  {
  font-size: 16px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}


.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}

.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}

.pull-right{
	float: right;
}

.notice {
	text-align: center;
	font-size: 2rem;
}
// -----------------------------------------------------------------


@media only screen and (min-device-width : 0px) and (max-device-width : 319px){
	#nav-desktop{
		display: none;
	}
}

@media only screen and (min-device-width : 320px){
	.nav-mobile {
		height: 11.3vh;
		padding-top: 0;
	}
	#nav-desktop{
		display: none;
	}
}

@media only screen and (min-device-width : 500px) and (max-device-width : 600px){
	.nav-mobile {
		height: 15.3vh;
		padding-top: 0;
	}
	#nav-desktop{
		display: none;
	}
}

@media only screen and (min-device-width : 601px) and (max-device-width : 767px){
	.nav-mobile {
		height: 17.3vh;
		padding-top: 0;
	}
	#nav-desktop{
		display: none;
	}
}

@media only screen and (min-device-width : 768px){
	.nav-mobile {
		display: none;
	}

	#nav-desktop {
		display: initial;
	}

	.notice {
    font-size: 2.5rem;
	}
}

// @media only screen and (max-device-width : 600px){
// 	.nav-mobile{
// 		height: 26.3vh;
// 	}
// }

// @media only screen and (max-device-width : 740px) and (orientation : landscape) {
// // 	.nav-mobile {
// // 		height: 34vh;
// // 	}
// // }