<nav id="nav-desktop" class="nav">
  <div class="container">
    <div class="pull-left">
      <h1 class="site-title">
        Mini
        Money
        Market
      </h1>
    </div>
    <div class="pull-right">
      <ul class="nav-list">
        <%= link_to root_path do %>
          <li>Home</li>
        <% end %>

        <% if current_lender || current_borrower %>
          <%= link_to destroy_lender_session_path, method: :delete do %>
            <li>Logout</li>
          <% end %>
        <% else %>
          <%= link_to pages_login_path do %>
            <li>Login</li>
          <% end %>
        <% end %>
  
        <li>
          About
        </li>
      </ul>
    </div>
  </div>
</nav>
