<div class="nav-mobile">
  <div class="mini-money-market">
    <span class="mmm">        
    mini
    money
    market
    </span>
    <div id="myNav" class="overlay">
      <!-- this will close the overlay -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <!-- overlay menu content -->
      <div class="overlay-content">
        <%= link_to 'Home', root_path %>
        <% if current_lender || current_borrower %>
          <%= link_to "Sign out", destroy_lender_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", pages_login_path %>﻿﻿
        <% end %>
      </div>
    </div>
    <span class="menu" onclick="openNav()" aria-hidden="true">  
      <i class="fas fa-bars"></i>
    </span>
  </div>
</div>

